# Node modules
node_modules/

# Environment variables file
.env

# IDE/Editor specific files
.vscode/
.idea/

# Log files
*.log

# Dependency directories
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Production build
build/
dist/
